body{
    background-image: url("media/towile.jpeg");
}
h1 {
    border-style: solid;
text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }